@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;700&display=swap');

:root {
    --background: #161622;
    --text: #e5e5e5;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    font-family: 'Signika Negative', sans-serif;
    background-color: var(--background);
    color: var(--text);
}